*{
    color:aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    box-sizing: border-box;


}
body{
    background-color:rgb(32, 35, 38);
    margin:0;
}
h3{
    color:aqua;
}

#login .container #login-row #login-column #login-box{
    margin-top:70px;
    max-width:600px;
    height: 300px;
    box-shadow: 1px 1px 0.4em #fcfcfc, 1px 1px 0.5em #02fcef;
    border-radius: 3px;
}
a{
    text-decoration:none;
    color:#17a2b8;
}
a:hover{
    text-decoration:none;
    color:#19c4df;
}
/* .container{
    background: rgb(90, 90, 90);
} */

/* search producto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");



.height {
    height: 20vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 3px solid #17a2b8
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
    color:black;
}

thead td{
    text-align: center;
    color: #17a2b8;
    font-weight: bold;
}

/* end search producto */

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
    color: black !important;
}

/* btn-Add */

.btn-Add{    
    position: fixed;
    right: 30px;
    bottom:50%;
    box-shadow: 1px 1px 0.4em #c3c3c3, 1px 1px 0.5em #007bff;
}
.btn-Add::before{
    content: "Añadir nuevo Producto";
}
@media only screen and (max-width: 1550px) {
    .btn-Add{
        bottom:10%;
        border-radius: 50%;
        padding: 10px 25px;
        margin: 1px;
        font-size: 30px;
        font-weight:bold;
    }
    .btn-Add::before{
        content:" ";
    }
    .btn-Add:after{
        position: relative;
        content: " + ";
        z-index: 1 !important;
    }
}

/* end btn-Add */

.contOpc{    
    text-align: center;
    min-width:110px;
}
.contOpc button{
    margin: 2px;
}